* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
  list-style: none;
}

:root{
  --main-color:#fd4646;
  --text-color: #171427;
  --bg-color: #fff;
}

.logo {
  width: auto;
}

img {
  width: 100%;
  height: auto;
}

body {
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

.navbar {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  margin: 0%;
  width: 100%;
}

label,
button {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #ccc;
  padding: 2% 3%;
  width: 100%;
  border-right: none;
}

button[type="submit"] {
  background-color: transparent;
  color: #0c0000;
  border: none;
  padding: 1.7% 3%;
  margin-left: -1px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

button[type="submit"] svg {
  height: 2%;
  width: 20px;
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
}

section {
  padding: 4rem 0 3rem;
}

.menu1 {
  display: flex;
  gap: 1em;
  align-items: center;
  flex-wrap: wrap;
}
.icon-menu1{
  display: flex;
  gap: 1em;
  align-items: center;
  flex-wrap: wrap;
}
.icon-menu1 a{
  color: black;
  font-size: 1.5em;
  text-decoration: none;
}
nav {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 3%;
  background-color: transparent;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 0 10px;
}

nav a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 10px 0;
  }@media (max-width: 768px) {
    nav ul {
      display: none;
    }
  
    nav.show ul {
      display: flex;
      flex-direction: column;
    }
  }  
}
header {
  border-bottom: 1px solid #ccc;
}
@media (max-width: 768px) {
  header {
    border-top-width: 0.5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.container {
  max-width: 1068px;
  margin: auto;
  width: 90%;
  padding: 0 1rem;
}

.titre-article {
  margin-bottom: 1.5rem;
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
}
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger-menu:focus {
  outline: none;
}

.hamburger-menu i {
  color: #000; /* Change this to change the color of the hamburger icon */
  font-size: 1.5rem;
}

.hamburger-menu span {
  display: none; /* Hide the text "Menu" */
}

/* Optional hover effect */
.hamburger-menu:hover i {
  color: #555;
}

.shop {
  margin-top: 2em;
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.produit {
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  padding: 10px;
}

.produit-fav {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

.produit-fav i {
  color: #ccc;
  font-size: 20px;
  border-top-right-radius: 10px
}

.produit-fav:hover i {
  color: #f00;
  transition: 0.4s;
}
.fas:hover  {
  color:black;
  background-color:goldenrod ;
  transition: 0.4s;
}
.produit:hover{
  border: 2px solid black;
  transform: scale(1.05);
  z-index: 1;
  padding: 10px;
}
.produit img{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.produit-titre{
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.price{
  font-weight: 500;
}

.produit i{
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--text-color);
  color: var(--bg-color);
  padding: 10px;
  cursor: pointer;
}
.produit i:hover{
  background: hsl(249, 32%, 17);
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.more{
    font-size: 1.5rem;
    width: 160px;
    height: 50px;
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 4%;
    cursor: pointer;
    padding: 10px;
    font-weight:550;
    
}
.more:hover{
    background-color: #0c0000;
    color: #fff;
    transition: 0.4s;
}

footer {
  position: relative;
    background-color: rgb(150, 146, 146);
    padding: 40px 20px;
    display: flex;
    justify-content:center ;
    align-items: flex-start;
  }
  
  footer div {
    flex-basis: 30%;
  }
  
  footer h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer li {
    margin-bottom: 10px;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 30%;
  }
  
  footer a:hover {
    color: #555;
  }
  
  footer i {
    margin-right: 10px;
  }
  
  footer span {
    font-size: 0.8rem;
color: #f1efef;
  }
  @media only screen and (max-width: 768px) {
    footer {
    flex-wrap: wrap;
    }
  
  footer div {
    flex-basis: 50%;
  }
}

footer p {
font-size: 0.9rem;
margin-bottom: 0;
}

footer .social-media {
margin: 0 10px;
color: #0c0c0c;
font-size: 1.2rem;
transition: 0.5s;
align-items: center;
text-align: center;
}
.fab{
  color: #0c0000;
}
@media only screen and (max-width: 600px) {
footer {
  flex-wrap: wrap;
}
footer div {
  flex-basis: 50%;
  text-align: center;
  margin-bottom: 20px;
}
}
footer h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  margin-bottom: 10px;
}

footer a {
  color: #f8f6f6;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

footer a:hover {
  color: #0e0d0d;
  transition: 0.4s;
}

footer i {
  margin-right: 10px;
}

footer span {
  font-size: 1.2rem;
  margin-left: 10px;
}

.copyright{
      
  bottom: 0; 
  left: 0;
  width: 100%; 
  background-color: rgb(94, 92, 92); 
  color: #fff; 
  padding: 20px 0; 
  text-align: center;
}
.img-footer{
  max-width: 100%;
  width: 50%;
}
.lien-img:hover{
  cursor: pointer;

}
footer p{
  margin-top: 1.5rem;
}
@media only screen and (max-width: 992px) {
  .produit {
  flex-basis: 45%;
  }
  }
  
  @media only screen and (max-width: 768px) {
  .produit {
  flex-basis: 60%;
  }
  }
  
  @media only screen and (max-width: 600px) {
  footer div {
  flex-basis: 100%;
  }
  }
  
  @media only screen and (max-width: 400px) {
  footer {
  flex-wrap: wrap;
  text-align: center;
  }
  footer div {
  flex-basis: 100%;
  }
  }
